click==8.1.8
colorama==0.4.6
greenlet==3.2.2
markdown-it-py==3.0.0
mdurl==0.1.2
psycopg2-binary==2.9.10
Pygments==2.19.1
PyMySQL==1.1.1
rich==14.0.0
shellingham==1.5.4
SQLAlchemy==2.0.41
typer==0.15.4
typing_extensions==4.13.2
